.wrapper {
  position: relative;
  overflow: hidden; 
}

/* This ensures slides outside viewport are NEVER visible */
.wrapper :global(.swiper-wrapper) {
  overflow: hidden;
}

.wrapper :global(.swiper-slide) {
  flex-shrink: 0;
}




/* .wrapper {
  position: relative;
}

.leftNavigation {
  position: absolute;
  left: -10px;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
}

.rightNavigation {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
} */